    <meta name="msapplication-TileColor" content="#b58900">
    <meta name="theme-color" content="#b58900">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/safari-pinned-tab.svg") %>" color="#b58900">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
    <link rel="icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
    <link rel="manifest" href="<%= Routes.path(@conn, "/site.webmanifest") %>">
