<article role="article" class="space-y-4">
  <h1 class="text-brand text-3xl md:text-4xl font-bold"><%= @page.title %></h1>
  <section class="prose prose-lg md:prose-xl">
    <%= raw(@page.body) %>
  </section>
</article>
