@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./phoenix.css";
@import "./accessible-nprogress.css";

@layer components {
  svg.icon {
    @apply stroke-current stroke-2 h-5 w-5;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  @screen md {
    svg.icon {
      @apply h-6 w-6;
    }
  }
}
