@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@import "./phoenix.css";
@import "./makeup.css";

@layer components {
  .icon {
    @apply stroke-current stroke-2 h-5 w-5;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .mastodon {
    @apply h-5 w-5 fill-gray-600;
  }
  .mastodon:hover {
    @apply fill-gray-900;
  }
  @screen md {
    .icon, .mastodon {
      @apply h-6 w-6;
    }
  }
}
